<a href="https://colab.research.google.com/github/brianadit24/RecSysTourist/blob/main/RecSys_Tourist_on_Jogja.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import Module

In [ ]:
import pandas as pd
import numpy as np
import tensorflow as tf
from sklearn.preprocessing import MinMaxScaler

In [ ]:
rating = pd.read_csv('ratings.csv')
destination = pd.read_csv('dataset.csv')

# Dataset Info

In [ ]:
rating.head()

   user_id  index  ratings
0        1     31        1
1        1     29        5
2        1     91        4
3        1      3        4
4        1     37        1

In [ ]:
destination.head()

                                                nama  ...                                        description
index                                                 ...
0                                    Candi Borobudur  ...  Candi yang pernah masuk sebagai salah satu dar...
1                                    Candi Prambanan  ...  Candi Prambanan adalah kompleks candi Hindu te...
2                                      Tebing Breksi  ...  Tebing Breksi merupakan tempat wisata yang ber...
3                                   Gembira Loka Zoo  ...  Gambira Loka adalah kebun binatang yang berada...
4      The Palace of Yogyakarta (Keraton Yogyakarta)  ...  Kompleks keraton merupakan museum yang menyimp...

[5 rows x 9 columns]

In [ ]:
rating.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15029 entries, 0 to 15028
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   user_id  15029 non-null  int64
 1   index    15029 non-null  int64
 2   ratings  15029 non-null  int64
dtypes: int64(3)
memory usage: 352.4 KB

In [ ]:
destination.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142 entries, 0 to 141
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   index         142 non-null    int64
 1   nama          142 non-null    object
 2   vote_average  142 non-null    float64
 3   vote_count    142 non-null    int64
 4   type          142 non-null    object
 5   htm_weekday   128 non-null    float64
 6   htm_weekend   125 non-null    float64
 7   latitude      142 non-null    float64
 8   longitude     142 non-null    float64
 9   description   142 non-null    object
dtypes: float64(5), int64(2), object(3)
memory usage: 11.2+ KB

# Content Base Filtering

In [ ]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [ ]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from nltk.tokenize import word_tokenize

In [ ]:
destination.head()

   index  ...                                        description
0      0  ...  Candi yang pernah masuk sebagai salah satu dar...
1      1  ...  Candi Prambanan adalah kompleks candi Hindu te...
2      2  ...  Tebing Breksi merupakan tempat wisata yang ber...
3      3  ...  Gambira Loka adalah kebun binatang yang berada...
4      4  ...  Kompleks keraton merupakan museum yang menyimp...

[5 rows x 10 columns]

## Encode All Synopsis to Bank

In [ ]:
bow = CountVectorizer(tokenizer=word_tokenize)
bank = bow.fit_transform(destination.description)

## Step 1 : Encode what user watch

In [ ]:
idx = 0

In [ ]:
content = destination.loc[idx, "description"]
content

'Candi yang pernah masuk sebagai salah satu dari Tujuh Keajaiban Dunia ini dihiasi oleh banyak relief di dinding candi. Relief yang ada di Candi Borobudur mencapai 2.672 dan panjangnya bisa mencapai 6 kilometer'

In [ ]:
code = bow.transform([content])
code.toarray()

array([[0, 0, 0, ..., 0, 0, 0]])

## Step 2: Document Search

In [ ]:
from sklearn.metrics.pairwise import cosine_distances

In [ ]:
dist = cosine_distances(code, bank)
dist

array([[0.        , 0.59035598, 0.67697086, 0.8502479 , 0.77549337,
        0.791122  , 0.67688484, 0.70103726, 0.76614641, 0.82337603,
        0.79868094, 0.75381702, 0.69591818, 0.79587585, 0.6555405 ,
        0.88129087, 0.84508067, 0.75485483, 0.69481069, 0.6680236 ,
        0.63216903, 0.82109339, 0.82735773, 0.75256417, 0.75338999,
        0.72222222, 0.78240293, 0.77917258, 0.58528898, 0.72860835,
        0.72499045, 0.75769416, 0.6095008 , 0.77411867, 0.79911847,
        0.76381125, 0.75266716, 0.71909968, 0.76793022, 0.74599975,
        0.74379495, 0.71464945, 0.78498168, 0.89174682, 0.74523767,
        0.75168352, 0.75945129, 0.70066696, 0.80372678, 0.91091292,
        0.70984066, 0.90871291, 0.68484238, 0.66735043, 0.72531936,
        0.77569114, 0.78464724, 0.79542073, 0.66321234, 0.75485483,
        0.50257512, 0.78959365, 0.91116637, 0.71301799, 0.72808762,
        0.77848059, 0.7369316 , 0.80949981, 0.7658419 , 1.        ,
        0.78080135, 0.69734004, 0.84409761, 0.74135324, 0.71068122,
        0.81835059, 0.54187715, 0.77830091, 0.67525007, 0.6897517 ,
        0.71213995, 0.7233007 , 0.69475445, 0.89255831, 0.71424971,
        0.67122031, 0.81360394, 0.78769806, 0.78240293, 0.8213683 ,
        0.82223572, 0.74418006, 0.85698061, 0.84971665, 0.71296893,
        0.7373244 , 0.73729653, 0.7608277 , 0.72689629, 0.68225555,
        0.51492875, 0.87747549, 0.80988272, 0.76750472, 0.76549118,
        0.67564566, 0.76185516, 0.80185152, 0.42522459, 0.69552862,
        0.82592234, 0.78080135, 0.86474955, 0.66233112, 0.63421824,
        0.723353  , 0.78180349, 0.77115357, 0.7695588 , 0.47677789,
        0.74094818, 0.73586473, 0.74737663, 0.79587585, 0.70077813,
        0.74135324, 0.89300988, 0.87725244, 0.90098525, 0.74555916,
        0.75168352, 0.8425148 , 0.8236636 , 0.78435815, 0.80988272,
        0.6798028 , 0.79176832, 1.        , 0.67780833, 0.82496499,
        0.65389067, 0.80542759]])

In [ ]:
rect_idx = dist.argsort()
rect_idx

array([[  0, 108, 119,  60, 100,  76,  28,   1,  32,  20, 114, 140,  14,
        113,  58,  53,  19,  85,  78, 105,   6,   2, 138, 135,  99,  52,
         79,  82,  18, 109,  12,  71,  47, 124,   7,  50,  74,  80,  94,
         63,  84,  41,  37,  25,  81, 115,  30,  54,  98,  64,  29, 121,
         66,  96,  95, 120,  73, 125,  40,  91,  44, 129,  39, 122,  45,
        130,  23,  36,  24,  11,  59,  17,  31,  46,  97, 106,  35, 104,
         68,   8, 103,  38, 118, 117,  33,   4,  55,  77,  65,  27, 111,
         70, 116,  88,  26, 133,  56,  42,  87,  61,   5, 136,  57,  13,
        123,  10,  34, 107,  48, 141,  67, 134, 102,  86,  75,  21,  89,
         90,   9, 132, 139, 110,  22, 131,  72,  16,  93,   3,  92, 112,
        127, 101,  15,  43,  83, 126, 128,  51,  49,  62,  69, 137]])

## Step 3: Recommend

In [ ]:
destination.loc[rect_idx]

     index  ...                                        description
108    108  ...  Candi Banyunibo adalah candi Buddha yang berad...
119    119  ...  Candi Sari juga disebut Candi Bendah adalah ca...
60      60  ...  Candi Sewu adalah candi Buddha yang dibangun p...
100    100  ...  Candi Kalasan adalah candi yang dipersembahkan...
76      76  ...  Candi Sojiwan memiliki keunikan. Keunikan ini ...
28      28  ...  Candi Plaosan terletak di Desa Bugisan, Kecama...
1        1  ...  Candi Prambanan adalah kompleks candi Hindu te...
32      32  ...  Candi Sambisari adalah Candi Hindu yang berada...
20      20  ...  Pantai Depok yang letaknya hanya 1,5 km dari P...

[9 rows x 10 columns]

## ML Engineering: Content Base Filtering

In [9]:
import nltk
nltk.download('punkt')

import pandas as pd
from nltk.tokenize import word_tokenize
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_distances

class ContentRecSys:
    def __init__(self, data, content_col, index_col=None):
        self.df = pd.read_csv(data, index_col=index_col)
        self.content_col = content_col
        self.encoder = None
        self.bank = None

    def fit(self):
        self.encoder = CountVectorizer(tokenizer=word_tokenize)
        self.bank = self.encoder.fit_transform(self.df[self.content_col])

    def recommend(self, idx, topk=10):
        content = self.df.loc[idx, self.content_col]
        code = self.encoder.transform([content])
        dist = cosine_distances(code, self.bank)
        rect_idx = dist.argsort()[0, 1:(topk+1)]
        return self.df.loc[rect_idx]

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

## Testing Content Base Filtering

In [10]:
conrecsys = ContentRecSys(data="dataset.csv", content_col="description", index_col='index')
conrecsys.fit()

In [11]:
conrecsys.recommend(20) # Depok Beach

                     nama  ...                                        description
index                      ...
58        Pantai Ngandong  ...  Pantai ini memiliki garis pantai yang panjang ...
96        Pantai Ngrumput  ...  Pantai Ngrumput memang kalah pamor dengan Para...
52     Pantai Pok Tunggal  ...  Pantai Pok Tunggal adalah salah satu pantai po...
82       Pantai Ngrenehan  ...  Pantai Ngrenehan merupakan pantai nelayan. Ter...
64          Pantai Timang  ...  Begitu memasuki wilayah pantai, pengunjung aka...
109       Pantai Nglolang  ...  Pantai ini sangat indah dengan pasir putih dan...
135        Bukit Pengilon  ...  Nama bukit Pengilon berasal dari bahasa Jawa y...
97          Pantai Ngedan  ...  Pantai Ngeden atau Ngedan yang terletak di Des...
105     Bukit Teletubbies  ...  Wisata satu ini merupakan wisata yang lokasiny...
53        Pantai Ngobaran  ...  Keunikan yang menjadi ciri khas Pantai Ngobara...

[10 rows x 9 columns]

In [12]:
conrecsys.recommend(4) # Keraton Jogja

                                     nama  ...                                        description
index                                      ...
86             Puncak Kebun Buah Mangunan  ...  Objek wisata ini menawarkan keindahan berupa p...
15                      Pantai Goa Cemara  ...  Adalah Kawasan Wisata Terpadu, satu pintu deng...
136                  Taman Tempuran Cikal  ...  Taman Tempuran Cikal terletak di kecamatan Piy...
84                         Affandi Museum  ...  Museum Affandi merupakan salah satu museum sen...
88               Museum Sonobudoyo Unit I  ...  useum Sonobudoyo unit pertama yang ada di deka...
85     Museum Monumen Pangeran Diponegoro  ...  Museum Monumen Pangeran Diponegoro adalah muse...
65                     Museum HM Soeharto  ...  Museum Soeharto adalah adalah bangunan berBuda...
90                   Kawasan Pantai Baron  ...  Objek wisata Pantai Baron merupakan pantai yan...
67                   Grand Puri Waterpark  ...  Grand Puri Waterpark Yogya berlokasi di daerah...
9                   The Lost World Castle  ...  Di dalam The Lost World Casle, pengunjung disu...

[10 rows x 9 columns]

# Collaborative Filtering

In [ ]:
!pip install surprise

Collecting surprise
  Downloading https://files.pythonhosted.org/packages/61/de/e5cba8682201fcf9c3719a6fdda95693468ed061945493dea2dd37c5618b/surprise-0.1-py2.py3-none-any.whl
Collecting scikit-surprise
  Downloading https://files.pythonhosted.org/packages/97/37/5d334adaf5ddd65da99fc65f6507e0e4599d092ba048f4302fe8775619e8/scikit-surprise-1.1.1.tar.gz (11.8MB)
     || 11.8MB 217kB/s
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.0.1)
Requirement already satisfied: numpy>=1.11.2 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.19.5)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.4.1)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.15.0)
Building wheels for collected packages: scikit-surprise
  Building wheel for scikit-surprise (setup.py) ... done
  Created wheel for scikit-surprise: filename=scikit_surprise-1.1.1-cp37-cp37m-linux_x86_64.whl size=1617619 sha256=0b240a9984d5ae53df2c1678af8b8f1fb65c9370fb8bb00c939a83d1870c2ba3
  Stored in directory: /root/.cache/pip/wheels/78/9c/3d/41b419c9d2aff5b6e2b4c0fc8d25c538202834058f9ed110d0
Successfully built scikit-surprise
Installing collected packages: scikit-surprise, surprise
Successfully installed scikit-surprise-1.1.1 surprise-0.1

In [ ]:
from surprise import Reader, Dataset, SVD, NMF, SVDpp
from surprise.model_selection import cross_validate

In [ ]:
dest_rating = pd.merge(rating, destination, on='index')
cols = ['index', 'vote_average', 'vote_count', 'type', 'htm_weekday', 'htm_weekend', 'latitude', 'longitude', 'description']
dest_rating.drop(cols, axis=1, inplace=True)
# dest_rating.sort_values("user_id", inplace=True)
dest_rating = dest_rating[['user_id', 'nama', 'ratings']]
dest_rating.tail()

       user_id                  nama  ratings
15024      952  Taman Bunga Amarilis        5
15025      973  Taman Bunga Amarilis        4
15026      974  Taman Bunga Amarilis        3
15027      989  Taman Bunga Amarilis        5
15028      990  Taman Bunga Amarilis        1

In [ ]:
dest_rating['user_id'].nunique()

1000

In [ ]:
data = Dataset.load_from_df(dest_rating, Reader())
trainset = data.build_full_trainset()

### Choose Best Algorithm

In [ ]:
# Use the famous SVD algorithm.
algo = SVD()

# Run 5-fold cross-validation and print results.
cross_validate(algo, data, measures=['RMSE', 'MAE'], cv=3, verbose=True)

Evaluating RMSE, MAE of algorithm SVD on 3 split(s).

                  Fold 1  Fold 2  Fold 3  Mean    Std
RMSE (testset)    1.4439  1.4611  1.4597  1.4549  0.0078
MAE (testset)     1.2441  1.2613  1.2584  1.2546  0.0075
Fit time          0.59    0.58    0.62    0.60    0.02
Test time         0.04    0.04    0.04    0.04    0.00

{'fit_time': (0.5886263847351074, 0.5759768486022949, 0.6208693981170654),
 'test_mae': array([1.24406439, 1.2613218 , 1.25844999]),
 'test_rmse': array([1.44387507, 1.46112684, 1.45969991]),
 'test_time': (0.035526275634765625,
  0.038804054260253906,
  0.037689924240112305)}

### Training RecSys

In [ ]:
model = SVD()
model.fit(trainset)

In [ ]:
model.predict(974, "Taman Bunga Amarilis")

Prediction(uid=974, iid='Taman Bunga Amarilis', r_ui=None, est=2.871180641548746, details={'was_impossible': False})

## Prediction of Tourist Destinations that have not been visited

In [ ]:
user_id = 1

### All Tourist Destination

In [ ]:
all_destination = dest_rating['nama'].unique()
all_destination

array(['De Mata Trick Eye Museum', 'Agro Tourism Bhumi Merapi',
       'Kids Fun Galleria Mall', 'Gembira Loka Zoo', 'Situs Warungboto',
       'Air Terjun Kedung Pedut', 'Candi Ijo', 'Balong Waterpark',
       'Wisata Telaga Potorono', 'Pantai Parangkusumo',
       'Grand Puri Waterpark', 'Desa Wisata Pulesari',
       'Taman Tempuran Cikal', 'Candi Sari', 'Tugu', 'Pantai Kesirat',
       'Camera House Borobudur', 'Pantai Parangtritis',
       'Wisata Alam Watu Amben', 'Candi Abang', 'Kids Fun Park (Pusat)',
       'Pantai Ngrumput', 'Pantai Timang',
       'Pantai Cemara Sewu Bantul Yogyakarta', 'Candi Sojiwan',
       'Tegaldowo Puspa Gading Park', 'Mangrove Jembatan Api-Api (MJAA)',
       'Lava Tour Merapi', 'Bukit Paralayang Watugupit', 'Candi Kalasan',
       'Pantai Ngandong', 'Tirtonirmolo Water Park Galuh',
       'Taman Lampion (Taman Pelangi)',
       'The World Landmarks - Merapi Park Yogyakarta', 'Candi Sambisari',
       'Tebing Breksi', 'Candi Banyunibo', 'Museum Sonobudoyo Unit I',
       'Jogja National Museum', 'Pesona Pengklik Pantai Samas',
       'Seribu Batu Songgo Langit', 'Pantai Nglolang', 'Pantai Ngrenehan',
       'Kali Talang', 'Pantai Kuwaru', 'Museum Batik Keraton Yogyakarta',
       'Jogja Bay', 'Pintoe Langit Dahromo', 'Ramadanu flower garden',
       'Desa Wisata Gamplong', 'Kawasan Pantai Baron', 'Pantai Ngobaran',
       'Masjid Gedhe Kauman', 'Bukit Pengilon', 'Gunung Ireng Srumbung',
       'Wisata Air Wanatirta Kencana', 'Museum Benteng Vredeburg',
       'Malioboro', 'Taman Pelangi Jogja', 'Museum Perjuangan',
       'Tebing Gunung Gajah', 'Heha Sky View', 'Kebun Teh Nglinggo',
       'Pantai Siung', 'Taman Pintar Yogyakarta', 'Candi Prambanan',
       'Bundaran UGM', 'Wisata Kalibiru',
       'The Palace of Yogyakarta (Keraton Yogyakarta)',
       'Museum HM Soeharto', 'Pantai Slili', 'Pantai Goa Cemara',
       'Monumen Yogya Kembali', 'Desa Wisata Pentingsari',
       'Puncak Kebun Buah Mangunan', 'XT Square', 'Embung Tambakboyo',
       'Wana Tirta Mangrove Forests',
       'Museum Factory Dan Kedai Chocolate Monggo', 'Blue Lagoon Jogja',
       'Ratu Boko', 'Bukit Lintang Sewu', 'Bukit Teletubbies',
       'Hutan Pinus Mangunan Dlingo', 'Pasar Kembang', 'Pantai Nglambor',
       'Candi Plaosan', 'Lava Merapi and Alien Stone', 'Puncak Suroloyo',
       'Pantai Wediombo', 'Museum Monumen Pangeran Diponegoro',
       'Embung Nglanggeran', 'Watu Goyang', 'Selopamioro Adventure Park',
       'Omah Petroek', 'Bukit Wisata Pulepayung', 'Pantai Sepanjang',
       'Affandi Museum', 'Taman Wisata Kaliurang', 'Kebun Buah Mangunan',
       'Grojogan Watu Purbo Bangunrejo', 'Goa Kiskendo', 'Goa Seplawan',
       'Museum Wayang Kekayon', 'Pemecah Ombak Pantai Glagah',
       'Pantai Glagah', 'Geoforest Watu Payung Turunan',
       'Taman Sungai Mudal', 'Taman Sari', 'Candi Sewu',
       'Pantai Pok Tunggal', 'Goa Jomblang', 'Pantai Watulawang',
       'Central Museum of the Air Force Dirgantara Mandala',
       'Kawasan Ekowisata Gunung Api Purba Nglanggeran',
       'Bukit Panguk Kediwung', 'Pantai Ngetun', 'Fort Vredeburg Museum',
       'Ngobaran Beach', 'Goa Selarong',
       'CitraGrand Mutiara Waterpark Yogyakarta', 'Stonehenge Merapi',
       'Pantai Drini', 'Pantai Ngedan', 'Jurang Tembelan Kanigoro',
       'Galaxy Waterpark', 'The Lost World Castle', 'Kaliadem',
       'Restoe Boemi Kreo', 'Sindu Kusuma Edupark (SKE)', 'Depok Beach',
       'Museum Sandi', 'Candi Borobudur', 'Waduk Sermo',
       'Pantai Indrayanti', 'Jogja Exotarium',
       'Gunung Api Purba Nglanggeran', 'Bukit Klangon',
       'Bendungan Kamijoro', 'Candi ASU Klaten', 'Sumur Gumuling',
       'Taman Bunga Amarilis'], dtype=object)

### Has been Visited by User

In [ ]:
visited = dest_rating[dest_rating.user_id == 1].nama
visited.head()

0       De Mata Trick Eye Museum
91     Agro Tourism Bhumi Merapi
92     Agro Tourism Bhumi Merapi
200       Kids Fun Galleria Mall
304             Gembira Loka Zoo
Name: nama, dtype: object

In [ ]:
visited

0        De Mata Trick Eye Museum
91      Agro Tourism Bhumi Merapi
92      Agro Tourism Bhumi Merapi
200        Kids Fun Galleria Mall
304              Gembira Loka Zoo
421              Situs Warungboto
548       Air Terjun Kedung Pedut
648                     Candi Ijo
752              Balong Waterpark
845        Wisata Telaga Potorono
942           Pantai Parangkusumo
943           Pantai Parangkusumo
1055         Grand Puri Waterpark
1160         Desa Wisata Pulesari
1264         Taman Tempuran Cikal
1371                   Candi Sari
Name: nama, dtype: object

### Never been Visited by User

In [ ]:
not_visited = [dest for dest in all_destination if dest not in visited.values]
not_visited

['Tugu',
 'Pantai Kesirat',
 'Camera House Borobudur',
 'Pantai Parangtritis',
 'Wisata Alam Watu Amben',
 'Candi Abang',
 'Kids Fun Park (Pusat)',
 'Pantai Ngrumput',
 'Pantai Timang',
 'Pantai Cemara Sewu Bantul Yogyakarta',
 'Candi Sojiwan',
 'Tegaldowo Puspa Gading Park',
 'Mangrove Jembatan Api-Api (MJAA)',
 'Lava Tour Merapi',
 'Bukit Paralayang Watugupit',
 'Candi Kalasan',
 'Pantai Ngandong',
 'Tirtonirmolo Water Park Galuh',
 'Taman Lampion (Taman Pelangi)',
 'The World Landmarks - Merapi Park Yogyakarta',
 'Candi Sambisari',
 'Tebing Breksi',
 'Candi Banyunibo',
 'Museum Sonobudoyo Unit I',
 'Jogja National Museum',
 'Pesona Pengklik Pantai Samas',
 'Seribu Batu Songgo Langit',
 'Pantai Nglolang',
 'Pantai Ngrenehan',
 'Kali Talang',
 'Pantai Kuwaru',
 'Museum Batik Keraton Yogyakarta',
 'Jogja Bay',
 'Pintoe Langit Dahromo',
 'Ramadanu flower garden',
 'Desa Wisata Gamplong',
 'Kawasan Pantai Baron',
 'Pantai Ngobaran',
 'Masjid Gedhe Kauman',
 'Bukit Pengilon',
 'Gunung Ireng Srumbung',
 'Wisata Air Wanatirta Kencana',
 'Museum Benteng Vredeburg',
 'Malioboro',
 'Taman Pelangi Jogja',
 'Museum Perjuangan',
 'Tebing Gunung Gajah',
 'Heha Sky View',
 'Kebun Teh Nglinggo',
 'Pantai Siung',
 'Taman Pintar Yogyakarta',
 'Candi Prambanan',
 'Bundaran UGM',
 'Wisata Kalibiru',
 'The Palace of Yogyakarta (Keraton Yogyakarta)',
 'Museum HM Soeharto',
 'Pantai Slili',
 'Pantai Goa Cemara',
 'Monumen Yogya Kembali',
 'Desa Wisata Pentingsari',
 'Puncak Kebun Buah Mangunan',
 'XT Square',
 'Embung Tambakboyo',
 'Wana Tirta Mangrove Forests',
 'Museum Factory Dan Kedai Chocolate Monggo',
 'Blue Lagoon Jogja',
 'Ratu Boko',
 'Bukit Lintang Sewu',
 'Bukit Teletubbies',
 'Hutan Pinus Mangunan Dlingo',
 'Pasar Kembang',
 'Pantai Nglambor',
 'Candi Plaosan',
 'Lava Merapi and Alien Stone',
 'Puncak Suroloyo',
 'Pantai Wediombo',
 'Museum Monumen Pangeran Diponegoro',
 'Embung Nglanggeran',
 'Watu Goyang',
 'Selopamioro Adventure Park',
 'Omah Petroek',
 'Bukit Wisata Pulepayung',
 'Pantai Sepanjang',
 'Affandi Museum',
 'Taman Wisata Kaliurang',
 'Kebun Buah Mangunan',
 'Grojogan Watu Purbo Bangunrejo',
 'Goa Kiskendo',
 'Goa Seplawan',
 'Museum Wayang Kekayon',
 'Pemecah Ombak Pantai Glagah',
 'Pantai Glagah',
 'Geoforest Watu Payung Turunan',
 'Taman Sungai Mudal',
 'Taman Sari',
 'Candi Sewu',
 'Pantai Pok Tunggal',
 'Goa Jomblang',
 'Pantai Watulawang',
 'Central Museum of the Air Force Dirgantara Mandala',
 'Kawasan Ekowisata Gunung Api Purba Nglanggeran',
 'Bukit Panguk Kediwung',
 'Pantai Ngetun',
 'Fort Vredeburg Museum',
 'Ngobaran Beach',
 'Goa Selarong',
 'CitraGrand Mutiara Waterpark Yogyakarta',
 'Stonehenge Merapi',
 'Pantai Drini',
 'Pantai Ngedan',
 'Jurang Tembelan Kanigoro',
 'Galaxy Waterpark',
 'The Lost World Castle',
 'Kaliadem',
 'Restoe Boemi Kreo',
 'Sindu Kusuma Edupark (SKE)',
 'Depok Beach',
 'Museum Sandi',
 'Candi Borobudur',
 'Waduk Sermo',
 'Pantai Indrayanti',
 'Jogja Exotarium',
 'Gunung Api Purba Nglanggeran',
 'Bukit Klangon',
 'Bendungan Kamijoro',
 'Candi ASU Klaten',
 'Sumur Gumuling',
 'Taman Bunga Amarilis']

### Rating Prediction for Destination not been Visited

In [ ]:
score = [model.predict(user_id, dest).est for dest in not_visited]
score

[3.3653835500763587,
 3.7530859245945036,
 2.9735605235101215,
 3.4898618807250994,
 3.052330801712475,
 3.3343298226934466,
 3.231886095972976,
 3.3283174732386627,
 3.013997620010748,
 3.50857022240108,
 3.6912399316607845,
 3.435521203021336,
 3.477702961714437,
 3.8503814692736325,
 3.534654317654546,
 3.3524874129970414,
 3.2788378220100056,
 3.2850269040929905,
 3.4573978624345365,
 3.4091576909698698,
 3.6033925060014287,
 3.2970183597038467,
 3.702074775511036,
 3.4675742918222836,
 3.349031927359832,
 3.8025539979084377,
 3.0998455696071074,
 3.915230982332654,
 2.9570434145314497,
 3.221736228198141,
 3.7972312915341906,
 3.930834619437657,
 3.657312799852601,
 3.2088227166066625,
 3.0820079494706336,
 3.4638394815524634,
 3.4433486355193272,
 3.3464440426739372,
 3.4516865957633422,
 3.3456970435219446,
 3.1720587246378833,
 3.4155263571328645,
 3.2605335466336025,
 3.7658642463206733,
 3.429569560442352,
 3.7105153026667415,
 2.8622654132438132,
 3.3246255906581297,
 3.507248697669966,
 3.815471643352,
 3.415248883392537,
 3.416653734451476,
 3.465418641127744,
 3.2132474158093953,
 3.0001000331682435,
 3.561940274909996,
 3.1563529151595753,
 3.359566463923965,
 3.2672353276572195,
 3.6256014366335223,
 3.2920709304816045,
 3.555649387823286,
 3.5293388028186055,
 3.5123179351272094,
 3.6253328450299156,
 3.581668412016618,
 3.279852271779101,
 3.5434083343779954,
 3.289183498000768,
 3.7328495069571237,
 3.080426761626502,
 3.3191636556849042,
 2.8771351267119925,
 3.408811585125604,
 3.829875055088998,
 3.414327795977967,
 3.4806030464323454,
 3.2348871410906535,
 3.105266012583933,
 3.5032991571219414,
 2.796984996290666,
 3.3812721620289308,
 2.975050486862668,
 2.969469820967827,
 3.225856319969174,
 3.944350308525077,
 3.406676288245156,
 3.90221581919539,
 3.2344990717301196,
 3.1584169648041476,
 3.3806567250919186,
 3.7268461043490793,
 3.4337408943309957,
 3.6204125958401177,
 3.7455044250338227,
 3.64394465982728,
 3.777771282366605,
 3.550406798825915,
 3.7326432514192946,
 2.967662413830792,
 3.7036076795172037,
 3.5788096597243952,
 3.302843813202446,
 3.864494725287537,
 2.8861849348762645,
 2.730992791549941,
 3.6400397159287614,
 3.3163629866774755,
 3.3477858661772837,
 2.8650718575280525,
 3.5041943755770184,
 3.3615054732469907,
 3.205984752872324,
 3.711262170449703,
 3.408472510987447,
 3.4850395906971534,
 2.9070953328793347,
 3.236533155962569,
 3.4111672422114134,
 3.478840570032086,
 3.2954838586031294,
 3.4184543350948764,
 3.033145974246687,
 3.7249356964102853,
 4.11308687941211,
 3.2916160458299943,
 3.5638854304180105,
 3.437441204203106]

## ML Engineering: Collaborative Base Filtering

In [9]:
import numpy as np
import pandas as pd
from surprise import Reader, Dataset, SVD

class CollabRecSys:
    def __init__(self, data):
        self.df = pd.read_csv(data)
        self.all_dest = self.df['nama'].unique()
        self.model = None

    def fit(self):
        data = Dataset.load_from_df(self.df, Reader())
        trainset = data.build_full_trainset()
        self.model = SVD()
        self.model.fit(trainset)

    def recommend(self, user_id, topk=10):
        visited = self.df[self.df.user_id == user_id].nama
        not_visited = [dest for dest in self.all_dest if dest not in visited.values]
        score = [self.model.predict(user_id, dest).est for dest in not_visited]

        result = pd.DataFrame({'Destination': not_visited, 'Rating_Prediction':score})
        result.sort_values("Rating_Prediction", ascending=False, inplace=True)
        return result.head(topk)

## Testing Collaborative Filtering

In [10]:
collabrecsys = CollabRecSys('destination_rating.csv')
collabrecsys.fit()

In [11]:
collabrecsys.recommend(user_id=3)

                      Destination  Rating_Prediction
66    Wana Tirta Mangrove Forests           4.023427
28   Pesona Pengklik Pantai Samas           3.923914
90                   Goa Kiskendo           3.889134
77                Puncak Suroloyo           3.888394
36          Pintoe Langit Dahromo           3.859439
30                Pantai Nglolang           3.847253
51             Kebun Teh Nglinggo           3.816333
0        De Mata Trick Eye Museum           3.787950
127            Bendungan Kamijoro           3.722485
121               Candi Borobudur           3.717757